h1 { 
  display: flex;
  align-items: center;
  justify-content: center;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 150px;
}

.box input {
margin-bottom: 20px;
}
